<% Department.all.each_slice(2) do |pair| %>
  <div class="row">
    <% pair.each do |department| %>
      <% if lecturers[department.id] != nil %>
        <div class="col-md-6">
          <h3><%= department.name %></h3>
          <% lecturers[department.id].each_slice(4).each do |four_lecturers| %>
            <ul class="list-table">
              <% four_lecturers.each do |lecturer| %>
                <li class="cell"><%= yield(lecturer) %></li>
              <% end %>
            </ul>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
<div class="row">
  <div class="col-md-12">
    <h3>所属不明</h3>
    <% lecturers[nil].each_slice(4).each do |four_lecturers| %>
      <ul class="list-table">
        <% four_lecturers.each do |lecturer| %>
          <li class="cell"><%= yield(lecturer) %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
