<h2 class="heading"><%= fa_icon('list fw') %> 教員データ</h2>
<%= render layout: 'shared/lecturers/index', locals: { lecturers: @lecturers, departments: @departments } do |lecturer| %>
  <%= link_to lecturer.name, timetable_staffs_reschedulings_lecturer_path(category: params[:category], id: lecturer.id) %>
<% end %>
