$margin-base: 3rem;
$padding-base: 3rem;

$nav-bg: $gray;
$nav-color: $white;
$nav-active: $gray-dark;

$text-color: $gray-light;
$main-bg: $white;

$font-size-small: 12px;

$breadclumb-bg: $green-light;
$breadclumb-color: $green;
$breadclumb-radius: 2px;
$breadclumb-margin: $margin-base;
$breadclumb-padding: $breadclumb-margin / 2;

$btn-blue: $blue;
$btn-red: $red;
$btn-color: $white;
$btn-radius: 4px;

$list-table-color: $text-color;
$list-table-color-hover: $white;
$list-table-bg: transparent;
$list-table-bg-hover: $blue;
$list-table-border-thickness: 2px;
$list-table-border-color: $blue;
$list-table-radius: 4px;
$list-table-height: 50px;
