<h1><%= @klass.name %></h1>
<%= render partial: 'shared/timeline/timeline', locals: { timeline: @timeline } %>
<button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="left" title="Tooltip on left">Tooltip on left</button>
