<ul class="breadcrumb">
  <li><%= link_to '時間割を見る', staffs_klasses_path %></li>
  <li class="active"><%= @klass.name %></li>
</ul>

<%= content_header('search', @klass.name) %>
<%= render partial: 'shared/timeline/timeline' %>
