<div class="breadcrumb">
  <li><%= link_to '時間割を見る', staffs_klasses_path %></li>
  /
  <li class="active"><%= @klass.name %></li>
</div>

<div class="container">
  <%= render partial: 'shared/timeline/timeline' %>
</div>
