<% cell.lectures.each.with_index do |lecture, i| %>
  <li class="cell" style="<%= cell.styles(i) %>" data-toggle="popover" data-trigger="hover" data-html="true" title="<%= lecture.klass.name %>" data-content="<%= lecture.lecturers.map(&:name).join('<br>') %>">
    <span class="cell-content"><%= lecture.name %></span>
  </li>
<% end %>
