<ul class="breadcrumb">
  <li><%= link_to '時間割を見る', staffs_klasses_path%></li>
  /
  <li class="active">教員から</li>
</ul>

<div class="container">
  <% @lecturers.group_by(&:department).each do |department, lecturers| %>
    <% if department.present? %>
      <h3><%= department.name %></h3>
    <% else %>
      <%= 'Unknown' %>
    <% end %>
    <% lecturers.in_groups_of(4).each do |four_lecturers| %>
      <ul class="list-table">
        <% four_lecturers.each do |lecturer| %>
          <li class="cell"><%= link_to lecturer.name, timetable_staffs_lecturer_path(lecturer.id) %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</div>
