<div class="breadcrumb">
  <li><%= link_to '教員データを見る', staffs_lecturers_path %></li>
  <li class="active"><%= @lecturer.name %></li>
</div>

<div class="container">
  <%= render partial: 'shared/timeline/timeline' %>
</div>
