<ul class="breadcrumb">
  <li><%= link_to '時間割を変更する', new_staffs_rescheduling_path %></li>
  <li class="active">クラスから選択</li>
</ul>

<%= content_header('search', 'クラスから選択') %>
<%= render layout: 'shared/klasses/index', locals: { klasses: @klasses } do |klass| %>
  <%= link_to klass.name, timetable_staffs_reschedulings_klass_path(params[:category], klass.slug) %>
<% end %>
