<h1>時間割変更を登録</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= link_to '先生から選択', '#', class: 'btn btn-default btn-lg btn-block' %>
    <%= link_to 'クラスから選択', '#', class: 'btn btn-default btn-lg btn-block' %>
  </div>
</div>
