<%= content_header('exchange', '時間割を変更する') %>

<% Rescheduling.categories_i18n.each do |category, category_i18n| %>
  <h3><%= category_i18n %></h3>
  <div class="rescheduling-buttons">
    <%= link_to(fa_icon("search") { |i| "#{i} クラスから選択" }, staffs_reschedulings_klasses_path(category: category), class: "btn btn-primary") %>
    <%= link_to(fa_icon("user") { |i| "#{i} 教員から選択" }, staffs_reschedulings_lecturers_path(category: category), class: "btn btn-primary") %>
  </div>
<% end %>
