<ul class="breadcrumb">
  <li class="active">時間割を変更する</li>
</ul>

<div class="container">
  <ul class="reschedulings-new">
    <div class="reschedule-from-class">
      <li>
        クラスから
        <ul>
          <% Rescheduling.categories_i18n.each do |category, category_i18n| %>
            <li>
              <%= link_to(category_i18n, staffs_reschedulings_klasses_path(category: category), class: "btn-choose") %>
            </li>
          <% end %>
        </ul>
      </li>
    </div>
    <div class="reschedule-from-lecturer">
      <li>
        教員から
        <ul>
          <% Rescheduling.categories_i18n.each do |category, category_i18n| %>
            <li>
              <%= link_to(category_i18n, staffs_reschedulings_lecturers_path(category: category), class: "btn-choose") %>
            </li>
          <% end %>
        </ul>
      </li>
    </div>
  </ul>
</div>
