/* buttons */

[class^="btn-"] {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  text-decoration: none;

  @include btn-size(0.8rem, 0.8rem, 1rem, $btn-radius);
}

.btn-choose {
  color: $btn-blue;
  background-color: $btn-color;
  border: solid 2px $btn-blue;

  &:hover,
  &:active {
    color: $btn-color;
    background-color: $btn-blue;
  }
}

.btn-action {
  color: $btn-red;
  background-color: $btn-color;
  border: solid 2px $btn-red;

  &:hover,
  &:active {
    color: $btn-color;
    background-color: $btn-red;
  }
}
