/* common layout */

.header-actopus {
  color: #FFFFFF;
  background-color: $brand-primary;
  height: $height-header;
  margin-bottom: 40px;
  h1 {
    font-size: $font-size-large * 3;
    margin-top: 0;
    margin-left: 20px;
    line-height: $height-header;
  }
}

.content {
  margin-bottom: 20px;
}


/* lecturers */

.container {
  margin-bottom: 20px;
}

.heading {
  margin-bottom: 20px;
}

.table-lecturer {
  .lecturer-department {
    font-size: $font-size-large;
    border-top: none;
    &:first-letter {
      color: $brand-primary;
    }
  }
  .lecturer-name {
    vertical-align: middle;
    font-size: $font-size-large;
  }
}

.list-table {
  display: table;
  table-layout: fixed;
  width: 100%;
  > li {
    $list-table-height: 48px;
    display: table-cell;
    height: $list-table-height;
    text-align: center;
    border: 1px solid $list-border-fg;
    border-left-style: none;
    &:first-child {
      border-left-style: solid;
      @include border-left-radius($list-group-border-radius);
    }
    &:last-child {
      @include border-right-radius($list-group-border-radius);
    }
    &:hover { background-color: $list-bg-hover; }
    > a {
      color: $list-link-fg;
      display: block;
      text-decoration: none;
      height: 100%;
      line-height: $list-table-height;
    }
  }
}
