/* common layout */

.header-actopus {
  color: #FFFFFF;
  background-color: $brand-primary;
  height: $height-header;
  margin-bottom: 40px;
  h1 {
    font-size: $font-size-large * 3;
    margin-top: 0;
    margin-left: 20px;
    line-height: $height-header;
  }
}

.content {
  margin-bottom: 20px;
}


/* lecturers */

.container {
  margin-bottom: 20px;
}

.heading {
  margin-bottom: 20px;
}

.table-lecturers {
  .lecturers-department {
    font-size: $font-size-large;
    border-top: none;
    &:first-letter {
      color: $brand-primary;
    }
  }
  .lecturers-name {
    vertical-align: middle;
    font-size: $font-size-large;
  }
}
