.list-timetable {
  @extend .dl-horizontal;
  $timetable-wday-offset: 80px;
  $timetable-cell-height: 100px;
  dt,
  dd {
    border-top: 1px solid rgba(#000000, .2);
    padding: 10px 0;
    height: $timetable-cell-height;
  }
  dt {
    width: $timetable-wday-offset;
    line-height: $timetable-cell-height - 20px;
    padding-right: 16px;
  }
  dd {
    margin-left: $timetable-wday-offset;
  }
  .lecture-timeline {
    @include square(100%);
    font-size: $font-size-small;
    position: relative;
  }
  .cell {
    @extend .list-unstyled;
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 4px;
    border: 1px solid $list-border-fg;
    border-radius: $list-group-border-radius;
    background-color: $body-bg;
    &:hover {
      background-color: $list-bg-hover;
      z-index: 100;
    }
    .cell-content {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      &:link,
      &:visited,
      &:hover,
      &:active {
        color: $text-color;
        text-decoration: none;
      }
    }
  }
}
