$brand-primary: lighten(#A14C4C, 10%) !default;

$list-group-border: #A14C4C !default;
$list-group-hover-bg: lighten($brand-primary, 30%) !default;
$list-group-link-color: #666;

$height-header: 120px;
