$brand-primary: lighten(#A14C4C, 10%) !default;

$alpha-text: rgba(#FFFFFF, .5);
$alpha-link: rgba(#FFFFFF, .8);

$list-group-border: #A14C4C !default;
$list-group-hover-bg: lighten($brand-primary, 30%) !default;
$list-group-link-color: #666 !default;

$height-header: 120px;
$height-footer: 100px;

$table-cell-padding: 10px !default;

$list-border-fg: #A14C4C !default;
$list-bg-hover: lighten($brand-primary, 30%) !default;
$list-link-fg: #666 !default;
