$brand-primary: #A14C4C !default;
$brand-bg: #FFFFFC !default;

$alpha-text: rgba($brand-bg, .5);
$alpha-link: rgba($brand-bg, .8);

$list-group-border: #A14C4C !default;
$list-group-hover-bg: lighten($brand-primary, 30%) !default;
$list-group-link-color: #666 !default;
$list-group-bg: $brand-bg !default;

$height-header: 120px;
$height-footer: 100px;

$table-cell-padding: 10px !default;

$list-border-fg: #A14C4C !default;
$list-bg-hover: lighten($brand-primary, 30%) !default;
$list-link-fg: #666 !default;
