<% @timelines.each do |key, timeline| %>
  <h2><%= key %></h2>
  <dl class="list-timetable">
    <% timeline.sort.each do |wday, row| %>
      <dt><%= t('date.abbr_day_names')[wday] %></dt>
      <dd>
        <%= render 'shared/timeline/timeline', row: row, wday: wday %>
      </dd>
    <% end %>
  </dl>
<% end %>
