<div class="breadcrumb">
  <li><%= link_to 'ホーム', root_path %></li>
  /
  <li><%= link_to '時間割を見る', klasses_path %></li>
  /
  <li class="active"><%= @klass.name %></li>
</div>

<div class="container">
  <%= render partial: 'shared/timeline/timeline' %>
</div>
